{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^[^.].*.css$",
    "index.css$",
    ".css$",
    "",
    "./polyfills",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "/assets/",
    "",
    "^../",
    "",
    "^[./]"
  ]
}
