#lists-page ul {
  list-style: none;
  padding: 16px;
  margin: 0;
}
#lists-page ul li {
  padding: 0;
  margin: 0;
}
#lists-page ul li a {
  display: block;
  background-color: var(--bg-faded-color);
  border-radius: 8px;
  line-height: 1.25;
  padding: 12px;
  text-decoration: none;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
#lists-page ul li a * {
  vertical-align: middle;
}
