.notification {
  display: flex;
  padding: 16px !important;
  gap: 16px;
}
.only-mentions .notification:not(.mention),
.only-mentions .timeline-empty {
  display: none;
}
.notification.skeleton {
  color: var(--outline-color);
}

.notification-type {
  width: 24px;
  flex-shrink: 0;
  opacity: 0.75;
  color: var(--text-insignificant-color);
}
.notification-type.notification-favourite {
  color: var(--favourite-color);
}
.notification-type.notification-reblog {
  color: var(--reblog-color);
}
.notification-type.notification-poll,
.notification-type.notification-mention {
  color: var(--link-color);
}

.notification .status-link {
  border-radius: 8px 8px 0 0;
  border: 1px solid var(--outline-color);
  max-height: 160px;
  overflow: hidden;
  /* fade out mask gradient bottom */
  mask-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1) 50%,
    transparent
  );
  filter: saturate(0.25);
}
.notification .status-link.status-type-mention {
  max-height: 320px;
  filter: none;
  background-color: var(--bg-color);
  margin-top: calc(-16px - 1px);
}
.notification .status-link:hover {
  background-color: var(--bg-blur-color);
  filter: saturate(1);
  border-color: var(--outline-hover-color);
}
.notification .status-link > * {
  pointer-events: none;
}

.notification-content {
  flex-grow: 1;
}
.notification-content p:first-child {
  margin-top: 0;
}

#mentions-option {
  float: right;
  margin-top: 0.5em;
}
#mentions-option label {
  color: var(--text-insignificant-color);
  display: inline-block;
  padding: 1em 16px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  font-size: 90%;
  background-color: var(--bg-blur-color);
  border-radius: 2em;
}
#mentions-option label:has(:checked) {
  color: var(--text-color);
  background-color: var(--bg-color);
}
