#sandbox {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  width: 100%;
  height: 100svh;
  background-color: var(--bg-faded-color);

  @media (min-width: 40em) {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr min(40%, 320px);
  }

  header {
    display: flex;
    align-items: center;
    grid-column: 1 / -1;

    h1 {
      font-size: 1em;
      font-weight: normal;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      color: var(--text-insignificant-color);
    }
  }

  + #compose-button,
  ~ #shortcuts {
    display: none;
  }

  .sandbox-preview {
    position: relative;
    padding: 16px;
    background-color: var(--bg-color);
    /* No need for preview container transition */
    /* chess board background, not rotated */
    background-image:
      linear-gradient(var(--bg-faded-color) 2px, transparent 2px),
      linear-gradient(90deg, var(--bg-faded-color) 2px, transparent 2px),
      linear-gradient(var(--bg-faded-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--bg-faded-color) 1px, transparent 1px);
    background-size:
      50px 50px,
      50px 50px,
      10px 10px,
      10px 10px;
    background-position:
      -2px -2px,
      -2px -2px,
      -1px -1px,
      -1px -1px;
    overflow: auto;
    box-shadow: 0 0 0 1px var(--outline-color);
    display: flex;
    align-items: safe center;
    justify-content: center;
    overflow-anchor: auto;

    > .status,
    > *:not(.status-card-link) > .status {
      min-width: 320px;
      max-width: 40em;
      background-color: var(--bg-color);
      border-radius: 8px;
      box-shadow:
        0 4px 16px var(--drop-shadow-color),
        0 8px 32px -4px var(--drop-shadow-color);
      view-transition-name: status;

      > .container > .meta {
        view-transition-name: status-meta;
      }

      > a > .avatar {
        view-transition-name: status-avatar;
      }

      .content-container {
        view-transition-name: status-content-container;
      }

      .media-container {
        view-transition-name: status-media;
      }

      .poll {
        view-transition-name: status-poll;
      }

      .status-badge {
        view-transition-name: status-badge;
      }

      .actions {
        view-transition-name: status-actions;
      }

      .card-byline {
        view-transition-name: status-card-byline;
      }
      .card {
        view-transition-name: status-card;
      }

      .status-card-link {
        * {
          view-transition-name: none !important;
        }
      }
    }
  }

  .sandbox-toggles {
    padding: 16px;
    font-size: 0.8em;
    overflow: auto;
    background-color: var(--bg-blur-color);
    box-shadow: 0 0 0 1px var(--outline-color);

    h2 {
      margin-top: 0;
      padding-top: 0;
      color: var(--text-insignificant-color);
      font-size: 1em;
      text-transform: uppercase;
    }

    h3 {
      color: var(--text-insignificant-color);
      font-size: 1em;
    }

    > ul {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      li:has(> label) ul {
        padding-inline-start: 24px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      ul:not(:has(ul)) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 4px;

        li {
          padding-inline-start: 0;
        }
      }
    }
    li {
      margin: 0;
      padding: 0;
      list-style: none;

      &.flex {
        display: flex;
        align-items: flex-start;
      }
    }

    label {
      cursor: pointer;
      border-radius: 8px;

      &:hover {
        background-color: var(--link-bg-color);
      }
    }

    label,
    b,
    i {
      display: flex;
      padding: 4px;
      gap: 4px;
      align-items: center;
    }

    ul li ul b {
      font-weight: normal;
    }

    input[type='number'] {
      width: 3em;
      text-align: end;
    }

    input[type='radio' i],
    input[type='checkbox' i] {
      margin: 0;
    }

    /* Media types styling */
    .media-types {
      padding-inline-start: 12px;
      li {
        list-style: decimal;
        display: flex;
        counter-increment: index;
        align-items: center;

        &:before {
          content: counter(index);
          color: var(--text-insignificant-color);
          font-variant: tabular-nums;
        }
      }
    }
  }
}

::view-transition-old(status),
::view-transition-new(status) {
  width: 100%;
  height: 100%;
}

::view-transition-old(status-media),
::view-transition-new(status-media) {
  width: 100%;
  height: 100%;
}

::view-transition-old(status-poll),
::view-transition-new(status-poll) {
  width: 100%;
  height: 100%;
}

::view-transition-old(status-card-byline),
::view-transition-new(status-card-byline),
::view-transition-old(status-card),
::view-transition-new(status-card) {
  width: 100%;
  height: 100%;
}
