#search-page .deck > header .header-grid {
  grid-template-columns: auto 1fr auto;
}
#search-page header input {
  width: 100%;
  padding: 8px 16px;
  border: 0;
  border-radius: 999px;
  background-color: var(--bg-faded-color);
  border: 2px solid transparent;
}
#search-page header input:focus {
  outline: 0;
  background-color: var(--bg-color);
  border-color: var(--link-color);
}

#search-page ul.accounts-list {
  display: flex;
  flex-wrap: wrap;
}
#search-page ul.accounts-list li {
  flex-basis: 320px;
  display: flex;
  padding: 8px 16px;
  gap: 8px;
  align-items: center;
  flex-grow: 1;
}

ul.link-list.hashtag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

ul.link-list.hashtag-list li a {
  border-radius: var(--radius);
}

@media (min-width: 40em) {
  #search-page {
    header input {
      background-color: var(--bg-color);
    }

    .filter-bar {
      margin-top: 8px;
    }
  }
}

.search-popover-container {
  position: relative;
}
.search-popover {
  position: absolute;
  left: 8px;
  max-width: calc(100% - 16px);
  /* right: 8px; */
  background-color: var(--bg-color);
  border: 1px solid var(--outline-color);
  box-shadow: 0 4px 24px var(--drop-shadow-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  animation: appear-smooth 0.2s ease-out;
  overflow: hidden;
}
.search-popover[hidden] {
  display: none;
}
.search-popover-item {
  text-decoration: none;
  padding: 8px 16px 8px 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.search-popover-item[hidden] {
  display: none;
}
.search-popover-item:is(:hover, :focus, .focus) {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
.search-popover-item :is(mark, q) {
  background-color: var(--bg-faded-blur-color);
  color: inherit;
}
.search-popover-item:is(:hover, :focus, .focus) :is(mark, q) {
  background-color: var(--button-bg-color);
}
.search-popover:hover .search-popover-item.focus:not(:hover, :focus),
.search-popover:hover
  .search-popover-item.focus:not(:hover, :focus)
  :is(mark, q) {
  background-color: unset;
  color: unset;
}
.search-popover-item > span {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-popover-item:is(:hover, :focus, .focus) > .icon {
  opacity: 1;
}
