#settings-container {
  background-color: var(--bg-faded-color);
}

#settings-container main h3 {
  font-size: 85%;
  text-transform: uppercase;
  color: var(--text-insignificant-color);
  font-weight: normal;
}

#settings-container section {
  background-color: var(--bg-color);
  margin: 8px 0 0;
  padding: 8px 16px;
  border-top: var(--hairline-width) solid var(--outline-color);
  border-bottom: var(--hairline-width) solid var(--outline-color);
  border-radius: 8px;
}
#settings-container section ul > li:last-child {
  border-bottom: none;
}

#settings-container section > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#settings-container section > ul > li {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: var(--hairline-width) solid var(--outline-color);
}
#settings-container section > ul > li .current {
  margin-right: 8px;
  color: var(--green-color);
  opacity: 0.1;
}
#settings-container section > ul > li .current.is-current {
  opacity: 1;
}
#settings-container section > ul > li .current.is-current + .avatar {
  box-shadow: 0 0 0 1.5px var(--green-color), 0 0 8px var(--green-color);
}
#settings-container section > ul > li > div {
  flex-grow: 1;
  max-width: 100%;
}
#settings-container section > ul > li > div.actions {
  flex-basis: fit-content;
  margin-top: 8px;
}
#settings-container section > ul > li > div:last-child {
  text-align: right;
}
#settings-container section > ul > li .sub-section {
  text-align: left !important;
  margin-top: 8px;
}
#settings-container div,
#settings-container div > * {
  vertical-align: middle;
}
#settings-container .avatar {
  margin-right: 8px;
}

#settings-container section select {
  padding: 4px;
}

#settings-container .radio-group {
  display: inline-flex;
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--button-bg-color);
  overflow: hidden;
  padding: 1px;
}
#settings-container .radio-group input[type='radio'] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
#settings-container .radio-group label {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
#settings-container .radio-group label input:checked + span {
  color: var(--link-color);
  font-weight: bold;
}
#settings-container .radio-group label:is(:hover, :focus) {
  color: var(--button-bg-color);
}
#settings-container .radio-group label:has(input:checked) {
  border-radius: 999px;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
}
#settings-container .radio-group label:has(input:checked) input:checked + span {
  color: inherit;
}
