.status-deck header h1 {
  grid-column: 1 / 3;
}
.status-deck header {
  white-space: nowrap;
}
.status-deck header h1 {
  min-width: 0;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.status-deck header.inview h1 {
  font-weight: bold;
}

.hero-heading {
  font-size: 16px;
  display: inline-block;
}
.hero-heading .icon {
  vertical-align: middle;
  color: var(--text-insignificant-color);
}
.hero-heading .insignificant {
  font-weight: normal;
}

.ancestors-indicator {
  font-size: 70% !important;
}
.ancestors-indicator[hidden] {
  opacity: 0;
  pointer-events: none;
}

.status-deck footer {
  position: sticky;
  bottom: 0;
  bottom: env(safe-area-inset-bottom);
  font-size: 90%;
  background-color: var(--bg-faded-blur-color);
  backdrop-filter: blur(16px);
  padding: 16px;
  white-space: pre-wrap;
  line-height: 1.2;
}
.status-deck footer > p:first-of-type {
  margin-top: 0;
  padding-top: 0;
}
