#welcome {
  text-align: center;
  background-image: radial-gradient(
    closest-side at 50% 50%,
    var(--bg-faded-color),
    transparent
  );
  padding: 16px;
}

#welcome h1 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}
#welcome img {
  vertical-align: top;
}

#welcome h2 {
  font-size: 3em;
  letter-spacing: -0.05ex;
  margin: 16px 0;
  padding: 0;
  /* gradiented text */
  background: linear-gradient(
    45deg,
    var(--blue-color) 30%,
    var(--purple-color),
    var(--red-color) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes psychedelic {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
#welcome:hover h2 {
  animation: psychedelic 60s infinite;
}
