.avatar {
  display: inline-block;
  line-height: 0;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--bg-faded-color);
  box-shadow: 0 0 0 1px var(--bg-blur-color);
  flex-shrink: 0;
  vertical-align: middle;
}
.avatar.has-alpha {
  border-radius: 0;
}
.avatar:not(.has-alpha).squircle {
  border-radius: 25%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--img-bg-color);
  contain: none;
}

.avatar[data-loaded],
.avatar[data-loaded] img {
  box-shadow: none;
  background-color: transparent;
}
