.embed-modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;

  .top-controls {
    padding: 16px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    pointer-events: auto;
  }

  .embed-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    iframe {
      pointer-events: auto;
      max-width: 100%;
    }
  }
}
