.list-exclusive-badge {
  box-sizing: content-box;
  border: 1px solid;
  padding: 1px;
  margin: 0 2px 2px;
  border-radius: 3px;
  vertical-align: middle;
  background-color: var(--bg-blur-color);
}
