#modal-container > div {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backdrop-color);
  backdrop-filter: blur(24px);
  animation: appear 0.5s var(--timing-function) both;
}

#modal-container > .light {
  backdrop-filter: saturate(0.75);
}
