@media (min-width: 23em) {
  .nav-menu {
    display: flex;
    width: auto;
    padding: 0;
  }
  .nav-menu section {
    padding: 8px 0;
    width: 50%;
  }
  .nav-menu section:last-child {
    background-color: var(--bg-faded-color);
    background-image: linear-gradient(
        to right,
        var(--divider-color) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, var(--bg-blur-color), transparent),
      url(../assets/phanpy-bg.svg);
    background-repeat: no-repeat;
    /* background-size: auto, auto, 200%; */
    background-position: 0 0, 0 0, 2em 90%;
    background-blend-mode: normal, normal, overlay;
    box-shadow: inset 0 0 1px var(--bg-color);
  }
  .nav-menu section:last-child > .szh-menu__divider:first-child {
    display: none;
  }
  .nav-menu .szh-menu__item span {
    white-space: normal;
  }
}
