name: Update Catalogs

on:
  push:
    branches:
      - l10n_main
  workflow_dispatch:

jobs:
  update-catalogs:
    if: github.repository == 'cheeaun/phanpy'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: l10n_main
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - name: Update catalog data
        run: |
          node scripts/catalogs.js
          DATA_FILES="src/data/catalogs.json src/data/listed-locales.json"
          if git diff --quiet $DATA_FILES; then
            echo "No changes"
          else
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git config --global user.name "github-actions[bot]"
            git add $DATA_FILES
            git diff --cached --name-only | xargs -I {} echo "Changed: {}"
            git commit -m "Update catalog data"
            git push origin HEAD:l10n_main || true
          fi
